Repository bperraud/nextcloud-A6K: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:apache, build:php-fpm

build:apache:
  stage: build
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - echo "Image tag is `cat .ci-tags/$IMGNAME`"
  ...

build:php-fpm:
  stage: build
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - echo "Image tag is `cat .ci-tags/$IMGNAME`"
  ...

init gitlab-ci
  apache/Dockerfile
  db.env
  nextcloud.env
  php-fpm/files/nc_config.php
  php-fpm/scripts/setup.sh
Due: build:apache, build:php-fpm

init gitlab-ci
  .gitlab-ci.yml
Due: none

force build
  apache/Dockerfile
  php-fpm/Dockerfile
Due: build:apache, build:php-fpm

docker build gitlab
  .gitlab-ci.yml
Due: none

force build
  php-fpm/Dockerfile
Due: build:php-fpm

wget nc_url
  php-fpm/Dockerfile
Due: build:php-fpm

NC_URL in gitlab-ci
  .gitlab-ci.yml
  apache/Dockerfile
  php-fpm/Dockerfile
Due: build:apache, build:php-fpm

disable apps
  apache/Dockerfile
  php-fpm/Dockerfile
Due: build:apache, build:php-fpm

nc_push_url
  .gitlab-ci.yml
Due: none

USER www-data
  apache/Dockerfile
  docker-compose.yaml
  php-fpm/Dockerfile
Due: build:apache, build:php-fpm

USER default
  apache/Dockerfile
  docker-compose.yaml
  php-fpm/Dockerfile
Due: build:apache, build:php-fpm

rm nextcloud data volume for permissions
  docker-compose.yaml
  php-fpm/Dockerfile
  php-fpm/files/nc_config.php
Due: build:php-fpm

correct redis service name
  docker-compose.yaml
  php-fpm/files/nc_config.php
  php-fpm/files/php-fpm.conf
Due: build:php-fpm

php.ini redis
  docker-compose.yaml
  php-fpm/files/php.ini
Due: build:php-fpm

nextcloud config volume
  docker-compose.yaml
Due: none

adjust timeout and max_allowed_packet for database setup
  docker-compose.yaml
  mariadb-galera/custom.cnf
  proxysql/proxysql.cnf.template
Due: none

volumes for redis
  docker-compose.yaml
Due: none

notify-push configuration and apache ssl certificate
  apache/files/httpd.conf
  certificate/tls.crt
  certificate/tls.key
  docker-compose.yaml
  php-fpm/files/nc_config.php
  tls.crt
  tls.key
Due: build:apache, build:php-fpm

init docker swarm
  docker-stat.yaml
Due: none

docker swarm mariadb galera
  docker-stat.yaml
Due: none

redis docker swarm
  docker-stack.yaml
Due: none

rm USER default
  apache/Dockerfile
Due: build:apache

include httpd-ssl.conf
  apache/files/httpd.conf
  docker-compose.yaml
Due: build:apache

rm USER DEFAULT
  apache/files/httpd.conf
Due: build:apache

load mod_socache_shmcb
  apache/files/httpd.conf
  docker-compose.yaml
Due: build:apache

VirtualHost DocumentRoot
  apache/files/httpd.conf
  docker-compose.yaml
  localhost-key.pem
  localhost.pem
Due: build:apache

ServerName localhost
  apache/files/httpd.conf
Due: build:apache

dl notify-push app
  docker-compose.yaml
  php-fpm/Dockerfile
Due: build:php-fpm

notify-push in apps folder
  php-fpm/Dockerfile
Due: build:php-fpm

notify-push starting
  docker-compose.yaml
  notify-push/notify_push.service
  php-fpm/Dockerfile
  php-fpm/files/nc_config.php
Due: build:php-fpm

force php-fpm rebuild
  .gitlab-ci.yml
  php-fpm/Dockerfile
Due: build:php-fpm

setup cmd for notify_push
  docker-compose.yaml
Due: none

download app from version-file yaml
  .gitlab-ci.yml
  docker-compose.yaml
  php-fpm/Dockerfile
  versions-file/v31.yaml
Due: build:php-fpm

download app from version-file yaml
  version-file/v31.yaml
Due: none

rename file
  version-file/v31.yml
Due: none

rename folder
  version-info/v31.yml
Due: none

rebuild php on version change
  .gitlab-ci.yml
Due: none

version file change test
  version-info/v31.yml
Due: none

Path conditions:
  build:apache: any of: apache/**/*
  build:php-fpm: any of: php-fpm/files/*, php-fpm/Dockerfile
