Repository bperraud/nextcloud-A6K: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:apache, build:php-fpm

.gitlab-ci.yml:

.version: &version version-info/v31.yml

include: 
  local: *version

variables:
  NC_VERSION_FILE: *version
  # NC_URL: "https://download.nextcloud.com/.customers/server/31.0.4-a59bd0a7/nextcloud-31.0.4-enterprise.zip"
  # NC_PUSH_URL: "https://github.com/nextcloud/notify_push/releases/download/v1.1.0/notify_push-x86_64-unknown-linux-musl"
  DEBUG_BUILD: 0
  FORCE_UPGRADE:
    value: "false"
    description: "skip the validate-version-upgrade stage and force an update even if it is unsafe (when skipping major version or downgrading)"
    
stages:
  - prepare
  - build
  - deploy
  - test


prepare:generate-nc-apps-url:
  stage: prepare
  script:
    - apk add --no-cache curl
    - |
      set +e
      APPS=""
      for URL in $NC_APPS; do
        RELEASE_PAGE=$(curl -s "$URL")
        APP_URL=$(echo "$RELEASE_PAGE" | sed -n "/name=\"$NC_VERSION\"/,\$p" | grep -m 1 'class="release-download"' | awk -F'href="' '{print $2}' | awk -F'"' '{print $1}')
        if [ -n "$APP_URL" ] ; then
          APPS="$APPS $APP_URL"
        else
          APPS="$APPS $URL"
        fi
      done
      echo "NC_APPS=$APPS" >> build.env
    - echo $NC_APPS
  artifacts:
    reports:
      dotenv: build.env


.image-build-template: &image-build
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - docker build $IMGARGS --pull -t "$CI_REGISTRY_IMAGE/$IMGNAME:$CI_COMMIT_REF_SLUG" $IMGNAME
    - docker push "$CI_REGISTRY_IMAGE/$IMGNAME:$CI_COMMIT_REF_SLUG"
  rules:
    - if: $CI_PIPELINE_SOURCE != 'merge_request_event'
      changes:
        # - *version
        - $IMGNAME/*
        - $IMGNAME/**/*

build:apache:
  <<: *image-build
  variables:
    IMGNAME: apache
    IMGARGS: --build-arg=nc_url=$NC_URL --build-arg=apps='$NC_APPS'
  rules:
    - if: $CI_PIPELINE_SOURCE != 'merge_request_event'
      changes:
        - apache/**/*

build:php-fpm:
  <<: *image-build
  variables:
    IMGNAME: php-fpm
    IMGARGS: --build-arg nc_url=$NC_URL --build-arg push_bin_url=$NC_PUSH_URL push_app_url=$NC_PUSH_APP --build-arg debug_build=$DEBUG_BUILD --build-arg apps='$NC_APPS'
  rules:
    - if: $CI_PIPELINE_SOURCE != 'merge_request_event'
      changes:
        # - *version
        - php-fpm/files/*
        - php-fpm/Dockerfile

build arg in gitlab-ci
  .gitlab-ci.yml
Due: none

version file change test
  version-info/v31.yml
Due: none

test without push app url
  .gitlab-ci.yml
  php-fpm/Dockerfile
Due: build:php-fpm

test without push app url
  .gitlab-ci.yml
Due: none

trigger on gitlab-ci changes
  .gitlab-ci.yml
Due: none

eval docker build cmd
  .gitlab-ci.yml
Due: none

update Dockerfile php
  php-fpm/Dockerfile
Due: build:php-fpm

debug Dockerfile php
  php-fpm/Dockerfile
Due: build:php-fpm

fix Dockerfile php
  version-info/v31.yml
Due: none

rm VirtualHost
  apache/files/httpd.conf
Due: build:apache

init gomplate for yaml template
  apache/files/httpd.conf
  db.env
  nextcloud.env
  php-fpm/Dockerfile
  php-fpm/scripts/post_install.sh
  php-fpm/scripts/post_install.sh.gotpl
  php-fpm/values.yaml
Due: build:apache, build:php-fpm

gomplate post_install.sh
  php-fpm/scripts/post_install.sh
  php-fpm/scripts/post_install.sh.gotpl
  php-fpm/values.yaml
Due: none

adapt backup.sh
  php-fpm/scripts/backup_db.sh.template
Due: none

adapt backup.sh
  php-fpm/scripts/backup_db.sh
Due: none

container name
  docker-compose.yaml
Due: none

force rebuild php
  docker-compose.yaml
  php-fpm/Dockerfile
Due: build:php-fpm

entrypoint to run setup and post script
  docker-compose.yaml
  php-fpm/Dockerfile
  php-fpm/entrypoint.sh
Due: build:php-fpm

copy entrypoint.sh
  php-fpm/Dockerfile
Due: build:php-fpm

add scripts dir
  php-fpm/Dockerfile
Due: build:php-fpm

redondant permissions for scripts
  php-fpm/Dockerfile
Due: build:php-fpm

mkdir apps folder
  php-fpm/Dockerfile
Due: build:php-fpm

not redondant permissions for scripts
  php-fpm/Dockerfile
Due: build:php-fpm

scripts section before permissions
  php-fpm/Dockerfile
Due: build:php-fpm

back to default php cmd
  php-fpm/Dockerfile
  php-fpm/entrypoint.sh
Due: build:php-fpm

php cmd
  docker-compose.yaml
  php-fpm/Dockerfile
Due: build:php-fpm

php cmd
  docker-compose.yaml
  php-fpm/Dockerfile
  php-fpm/entrypoint.sh
Due: build:php-fpm

fix entrypoint
  php-fpm/Dockerfile
  php-fpm/entrypoint.sh
  php-fpm/scripts/post_install.sh.gotpl
Due: build:php-fpm

scripts directory separate from nextcloud install
  php-fpm/Dockerfile
  php-fpm/entrypoint.sh
Due: build:php-fpm

clamav config
  php-fpm/files/nc_config.php
  php-fpm/values.yaml
Due: build:php-fpm

add alias for custom_apps in apache
  apache/files/httpd.conf
Due: build:apache

install app inside apache
  apache/Dockerfile
  apache/files/httpd.conf
Due: build:apache

onlyoffice values
  .gitlab-ci.yml
  apache/Dockerfile
  php-fpm/values.yaml
Due: build:apache

config spreed
  php-fpm/values.yaml
Due: none

fix php memory limit
  docker-compose.yaml
  php-fpm/files/php-fpm.conf
Due: build:php-fpm

apache map json file handling
  apache/files/httpd.conf
Due: build:apache

refactoring
  docker-compose.yaml
  php-fpm/Dockerfile
  php-fpm/dev.env
  php-fpm/entrypoint.sh
  php-fpm/files/nc_config.php
  php-fpm/prd.env
  php-fpm/scripts/setup.sh
  php-fpm/values-dev.yaml
  php-fpm/values-prd.yaml
Due: build:php-fpm

env file
  docker-compose.yaml
  php-fpm/files/nc_config.php
Due: build:php-fpm
